@model IEnumerable<CompendiumIdentity.Models.Feature>

@{
    ViewBag.Title = "Project Feature";
}

<h2>Project Features</h2>

<p>
    @Html.ActionLink("Create New", "Create","Features", new { @class="btn btn-info btn-lg text-dark"})
</p>
<div class="container d-flex flex-wrap">
    @foreach (var Item in Model)
    {
        <div class="card" style="width: 18rem; margin: 10px; border: thin; border-color: slategray">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYGpw8iuDbMU-JHZM_mwlw7p8CSkKY_D5M8w&usqp=CAU" class="card-img-top" alt="Card image cap">
            <div class="card-body bg-gradient">
                <h5 class="card-title text-light">@Item.Name</h5>
                @Html.ActionLink("Enter", "Index", "Todoes", new { id = Item.FeatureID }, new { @class = "btn btn-info btn-lg text-dark" })
                @Html.ActionLink(" Delete", "Delete", "Projects", new { id = Item.FeatureID }, new { @class = "btn btn-secondary btn-lg fas fa-trash-alt" })
            </div>
        </div>
    }

</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FeatureID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FeatureID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FeatureID })
        </td>
    </tr>
}

</table>*@
